# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log
logs/

# Local data
data/source/*
data/sample/*
data/simulated/*

# Spark
.sparkStaging/
metastore_db/
spark-warehouse/

# OS
.DS_Store
Thumbs.db